.police{
  position: absolute;
  z-index: 10;
  right: -250px;
  bottom: 0;
  animation: slideInRight 2s  ease-in-out forwards;
}
.text {
  position: absolute;
  background-color: gray;
  z-index: 10;
  
}

@keyframes slideInRight {
  from {
    right: -250px;
  }
  to {
    right: 0;
  }
}